In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),
                  columns=list('abcd'))

In [2]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [4]:
frame = pd.DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})

In [5]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [6]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [7]:
frame.sort_values(by=['a','b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [8]:
obj = pd.Series([7,-5,7,4,2,0,4])

In [9]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [10]:
obj = pd.Series(range(5), index=['a','b','a',
                                'b','c'])

In [11]:
obj

a    0
b    1
a    2
b    3
c    4
dtype: int64

In [12]:
obj.index.is_unique

False

In [13]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
.....: [np.nan, np.nan], [0.75, -1.3]],
.....: index=['a', 'b', 'c', 'd'],
.....: columns=['one', 'two'])

In [14]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [15]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [16]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [18]:
import pandas_datareader.data as web